<div class="col-6">
    <div class="card mt-5">
        <div class="card-header">Tablas de Empresas
         
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Pais</th>
                <th scope="col">Actualizar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let empresa of empresas; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{empresa.strNombre}} {{empresa.strRazonSocial}} {{empresa.strRFC}} {{empresa.strDireccion}}{{empresa.strUrlLogo}}</td>
                <td>{{empresa.strPais}}</td>
                <button type="button" class="btn btn-success" (click)="showUpdate(empresa._id)"><i class="bi bi-pencil-square"></i></button>
                <td>
                  <button type="button" class="btn btn-danger" (click)="eliminar(empresa)"><i class="bi bi-person-x"></i></button>
                </td>
           
            </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>

<router-outlet></router-outlet>  
