


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://laverdadnoticias.com/__export/1570568626336/sites/laverdad/img/2019/10/08/cristiano_ronaldo_y_sus_fotos_mxs_candentes_en_ropa_interior_xfotosx.jpg_121823238.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
</div>